<footer>
    <div>
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            </div>
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                Posted by : Hernán Costarelli - © Todos los derechos reservados<br/>
                Correo : <a href="hernancostarelli@gmail.com">
                hernancostarelli@gmail.com</a> -
                Teléfono: (0261) 154706825
            </div>
            <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            </div>
        </div>
    </div>
</footer>
