<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="collapse navbar-collapse" id="navbarNav">

        <a class="navbar-brand" href="/CLIENT/dashboard">
            <img src="/image/book_navbar.png" width="90" height="25" alt="">
        </a>

        <div class="session">
            <a th:if="${session.userSession != null}" th:text="'Session of : '" class="session-session"></a>
            <br>
            <a th:if="${session.userSession != null}"
               th:text=" ${session.userSession.name} + ' ' + ${session.userSession.surname}"></a>
        </div>

        <ul class="navbar-nav ml-auto">     <!--ml-auto  MANDA LOS BOTONES A LA DERECHA-->
            <li class="nav-item">
                <a class="nav-link" href="/login" th:if="${session.userSession == null}">Iniciar Sesión</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register" th:if="${session.userSession == null}">Registrate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/CLIENT/dashboard}" th:if="${session.userSession != null}"
                   sec.authorize="hasRole('CLIENT')">Inicio</a>
            </li>
            <li class="nav-item">
                <!--<a class="nav-link" th:href="@{/teacher/dashboard}" th:if="${session.userSession.role != }"
                   sec.authorize="hasRole('CLIENT')">Profesores</a>-->
                <a class="nav-link" th:href="@{/teacher/dashboard}" >Profesores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/student/dashboard}" th:if="${session.userSession != null}"
                   sec.authorize="hasRole('CLIENT')">Alumnossssssssssssss</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/course/dashboard}" th:if="${session.userSession != null}"
                   sec.authorize="hasRole('CLIENT')">Cursosssssssssssss</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}" th:if="${session.userSession != null}"
                   sec.authorize="hasRole('CLIENT')">Cerrar sesión</a>
            </li>
        </ul>
    </div>
</nav>